.caroucelMain{   
    height: 166px;
    background-color: #2f2f2f;
    border-radius: 16px;
    margin-left: 30px;
}
.titleCaroucel{
    color: #BADE00;
    text-align: center;
    padding-top: 8px;
}
